.o-projectSlider {
  display: flex;
  justify-content: space-between;

  &__sliderWrapper {
    position: relative;
  }
  &__slider {
    display: flex;
    position: absolute;
    height: 612px;
    width: 327px;
  }

  &__buttonWrapper {
    position: absolute;
    display: flex;
    align-items: center;
  }
}
