.a-text {
  &--18 {
    font-size: $size-18;
    line-height: $line-height-35_18;
  }

  &--19 {
    font-size: $size-19;
    line-height: $line-height-50_19;
  }

  &--20 {
    font-size: $size-20;
    line-height: $line-height-48_20;
  }

  &--21 {
    font-size: $size-21;
    line-height: $line-height-33_21;
  }

  &--22 {
    font-size: $size-22;
    line-height: $line-height-56_22;
  }

  &--23 {
    font-size: $size-23;
    line-height: $line-height-55_23;
  }
  &--24 {
    font-size: $size-24;
    line-height: $line-height-52_24;
  }
}
