.a-heading {
  position: relative;

  &--34 {
    font-size: 34px;
  }

  &--withBg {
    display: flex;
    justify-content: center;
    align-items: center;
    &::before {
      content: attr(data-background-text);
      position: absolute;
      top: 32%;
      left: 50%;
      transform: translate(-51%, -50%);
      font-size: 120px;
      color: rgba(#000000, 0.05);
      z-index: -1;
    }
  }
}
