.a-heading {
  position: relative;
  &--34 {
    font-size: $size-34;
  }

  &--withBg {
    display: flex;
    justify-content: center;
    align-items: center;
    &::before {
      content: attr(data-background-text);
      position: absolute;
      top: 32%;
      left: 50%;
      transform: translate(-51%, -50%);
      font-size: $size-120;
      color: rgba($color-black, 0.05);
      z-index: -1;
    }
  }
}
