.a-icon {
  $root: &;

  position: relative;
  display: inline-block;

  &__icon {
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;

    #{$root}--calendar & {
      background-image: url("../../../../public/image/icons/calendar.svg");
    }

    #{$root}--clock & {
      background-image: url("../../../../public/image/icons/clock.svg");
    }

    #{$root}--facebook_white & {
      background-image: url("../../../../public/image/icons/facebook_white.svg");
    }

    #{$root}--facebook & {
      background-image: url("../../../../public/image/icons/facebook.svg");
    }

    #{$root}--instagram_white & {
      background-image: url("../../../../public/image/icons/instagram_white.svg");
    }

    #{$root}--instagram & {
      background-image: url("../../../../public/image/icons/instagram.svg");
    }

    #{$root}--left_arrow & {
      background-image: url("../../../../public/image/icons/left_arrow.svg");
    }

    #{$root}--menu & {
      background-image: url("../../../../public/image/icons/menu.svg");
    }

    #{$root}--minus & {
      background-image: url("../../../../public/image/icons/minus.svg");
    }

    #{$root}--play & {
      background-image: url("../../../../public/image/icons/play.svg");
    }

    #{$root}--plus & {
      background-image: url("../../../../public/image/icons/plus.svg");
    }

    #{$root}--right_arrow & {
      background-image: url("../../../../public/image/icons/right_arrow.svg");
    }

    #{$root}--tick & {
      background-image: url("../../../../public/image/icons/tick.svg");
    }

    #{$root}--twitter_white & {
      background-image: url("../../../../public/image/icons/twitter_white.svg");
    }

    #{$root}--twitter & {
      background-image: url("../../../../public/image/icons/twitter.svg");
    }
  }
}
