.a-button {
  cursor: pointer;
  display: inline-block;
  color: white;
  border: none;

  &--large {
    height: 72px;
    width: 390px;
    font-size: 24px;
  }
  &--medium {
    height: 48px;
    width: 196px;
    border-radius: 12px;
    font-size: 16px;
  }
  &--small {
    height: 52px;
    width: 150px;
    font-size: 19px;
  }
  &--primary {
    background-color: #f46632;
    border-radius: 16px;
    font-weight: bold;
  }
  &--secondary {
    background-color: #707070;
    border-radius: 31px;
  }
  &--icon {
    border-radius: 16px;
    border: 2px solid #000000;
    height: 70px;
    width: 70px;
  }
}
