.a-heading {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  font-family: 'Product Sans' ;

  &--24 {
    font-size: 24px;
  }
  
  &--32 {
    font-size: 32px;
  }
  
  &--34 {
    font-size: 34px;
  }
  
  &--50 {
    font-size: 50px;
  }
  
  &--withBg {
    &::before {
      content: attr(data-background-text);
      position: absolute;
      top: 32%;
      left: 50%;
      transform: translate(-51%, -50%);
      font-size: 120px;
      color: rgba(#000000, 0.05);
      z-index: -1;
    }
  }
}
