body {
  margin: 0;
  font-family: "Product Sans";
  color: #000000;
  font-size: 16px;
  line-height: calc(34 / 16);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  h1 {
    size: 50px;
  }
  h2 {
    size: 32px;
  }
  h3 {
    size: 24px;
  }
}
