@import "./global";
body {
  margin: 0;
  font-family: "Product Sans";
  color: $color-black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: $size-16;
  line-height: $line-height-34_16;

  h1 {
    font-size: $size-50;
  }
  h2 {
    font-size: $size-32;
  }
  h3 {
    font-size: $size-24;
  }
  ul,
  ol {
    list-style-type: none;
  }
}
